<!-- your html code here -->

<div class="pb-5 bg-white">
    <div class="row ms-1">
        <h1>CONTACT</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores adipisci amet hic consectetur sequi a assumenda molestiae nesciunt aliquid voluptatibus laboriosam vero sapiente ducimus quaerat autem eaque, dolorum expedita?</p>
    </div>
    <div class="form">
        <form>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-3 col-form-label text-end">Your E-mail</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Your E-mail">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label text-end">Example textarea</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-12 justify-content-end d-flex p-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
         </form>

    </div>

     

     
</div>
