<!-- your html code here -->
 <div style="background-color: white;">
    <div class="container">
        <hr style="height: 1px;border-width: 0;color: gray;background-color: gray;">
        <div class="d-flex justify-contect-start">
            <div>
                <span class="fw-bold fs-1">This Frist Heading</span> <span class="text-secondary fw-bold fs-1">Will Catch your Eye</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptates? Eaque consequuntur alias ipsum. Eum sapiente, cumque aliquam id, culpa maiores itaque repellat incidunt beatae sint non iure, earum dolorem!</p>
            </div>
            <img class="rounded-circle ms-3" src="./assets/img/1.jpg" alt="Imagen" width="250" height="250">
        </div>
    </div>

 </div>