<div class="container-fluid p-0 position-relative vh-100">
  <img src="./assets/img/bg.jpg" alt="Background" class="w-100 h-100 position-absolute object-fit-cover" style="z-index: -1;">
  <div class="d-flex flex-column justify-content-center vh-100">
    <div class="bg-white bg-opacity-75 mb-3">
        <h1 class="display-4 fw-bold text-dark m-0 py-2 text-center">One Page Wonder</h1>
    </div>
    <div class="bg-white bg-opacity-75">
        <h2 class="display-6 fw-bold text-dark m-0 py-2 text-center">Will Knock Your Socks Off</h2>
    </div>
</div>
</div>


